@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.animballExit {
  background-color: black;
  position: absolute;
  z-index: 900;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-play-state: running;
  animation-name: ExitAnimation;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes ExitAnimation {
  0% {
    width: 0vw;
    height: 0vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
